In [1]:
import matplotlib.colors as colors
import numpy as np
import pandas as pd

from sklearn.metrics import confusion_matrix

# SECTION 5.1.1

Generate `matheuristic_1.csv`, `matheuristic_2.csv` and `matheuristic_3.csv` using the
script `matheuristic_performance.py`. Then, concatenate the results and uncomment the
following code. The results are saved in the following `parquet` files to speed up the
process.

In [2]:
# df = pd.concat([pd.read_csv(f"../data/matheuristic_1.csv").assign(**{"scenario": 1}),
#                 pd.read_csv(f"../data/matheuristic_2.csv").assign(**{"scenario": 2}),
#                 pd.read_csv(f"../data/matheuristic_3.csv").assign(**{"scenario": 3})]).reset_index(drop=True)
# cols_to_group = ["n_samples", "scenario", "Sparsity", "seed", "Bounds_coef", "Fraction_rows", "Warm_start"]

Extract the `CPU Time` and print statistics (`mean`, `median`, `std` and `max`)

In [3]:
# df_ = (df.query("Optimality == True").set_index(cols_to_group)
#  .groupby(list(filter(lambda x: x != "seed", cols_to_group)) + ["Optimality"])["CPU_time"]
#  .describe()
#  .loc[:, ["mean", "std", "50%"]]
#  .rename(columns={"50%": "median"})
#  .droplevel([2, 4, 6], axis=0)
#  .unstack(["n_samples"])
#  .reorder_levels([1, 0], axis=1)
#  .sort_index(axis=1)
#  ).round().astype(int)

# import pyarrow.parquet as pq
# import pyarrow as pa

# pq.write_table(pa.Table.from_pandas(df_), "../data/table2.parquet")

pd.read_parquet("../data/table2.parquet")

n_samples                         100                200               400  \
                                 mean median   std  mean median  std  mean
scenario Bounds_coef Warm_start
1        False       False       3600   3600     0  3197   3600  799   317
                     True        3600   3600     0  3166   3600  866   300
         True        False       3600   3600     0   667    339  874   305
                     True        3600   3600     0   432    210  597   247
2        False       False       3475   3600   434  1602   1385  928   407
                     True        3471   3600   429  1572   1228  917   412
         True        False       2626   2690   987   792    686  555   541
                     True        1638   1159  1271   483    391  330   288
3        False       False       3582   3600   125  3378   3600  458  1660
                     True        3578   3600   156  3299   3600  573  1584
         True        False       3581   3600   138   564    294  721   121
                     True        3574   3600   187   472    218  711   103

n_samples
                                median  std
scenario Bounds_coef Warm_start
1        False       False         215  312
                     True          212  278
         True        False         143  330
                     True          116  295
2        False       False         409  162
                     True          419  153
         True        False         511  334
                     True          240  167
3        False       False        1436  978
                     True         1325  914
         True        False          98  101
                     True           72   93

Compute the number of experiments where the time limit was NOT rebased

In [4]:
# df_ = (df.query("Optimality == True")
# .set_index(cols_to_group + ["Optimality"])["CPU_time"]
# .apply(lambda x: True if x < 3600 else False)
# .groupby(list(filter(lambda x: x != "seed", cols_to_group + ["Optimality"])))
# .sum()
# .to_frame()
# .droplevel([2, 4, 6], axis=0)
# .unstack(["n_samples"])
# .droplevel(0, axis=1)
# )

# import pyarrow.parquet as pq
# import pyarrow as pa

# pq.write_table(pa.Table.from_pandas(df_), "../data/table2_bis.parquet")

pd.read_parquet("../data/table2_bis.parquet")

n_samples                        100  200  400
scenario Bounds_coef Warm_start
1        False       False         0   14   50
                     True          0   14   50
         True        False         0   47   50
                     True          0   50   50
2        False       False         6   46   50
                     True          7   46   50
         True        False        31   49   50
                     True         41   50   50
3        False       False         1   12   43
                     True          1   13   44
         True        False         1   48   50
                     True          1   48   50

Extract the `deviation` and print statistics (`mean`, `median`, `std` and `max`)

In [5]:
# col = "Obj_function"
# cols_to_group = ["n_samples", "scenario", "Sparsity", "seed", "Warm_start", "Bounds_coef", "Fraction_rows"]
# df_list = {}
# # If we sort the values in descending order, Optimality = False comes before
# # Optimality = True and we can just calculate `.diff()` and divide by the value
# # of Optimality = True for each DataFrame
# for idx, group in (df.query("Warm_start == True & Bounds_coef == True")
#                    .sort_values("Optimality", ascending=False)
#                    .groupby(cols_to_group)):
#     assert group.shape[0] == 2
#     if (group.query("Optimality == True")["GAP"] <= 1e-4).item():
#         # We have to extract `.values` because otherwise it divides based on index
#         out = group[col].diff().dropna().values / group[group["Optimality"]][col].values
#         if out < 0:
#             out = np.array([0])
#         # From the array of a single element, we extract the value
#         df_list[idx] = out.item()
# df_ = 100 * (pd.Series(df_list)
#  .to_frame()
#  .rename_axis(index=cols_to_group)
#  .groupby(list(filter(lambda x: x != "seed", cols_to_group)))
#  .describe()
#  .droplevel(0, axis=1)
#  .loc[:, ["mean", "50%", "std"]]
#  .rename(columns={"50%": "median"})
#  .unstack(["n_samples"])
#  .droplevel([1, 2, 3, 4], axis=0)
#  .reorder_levels([1, 0], axis=1)
#  .sort_index(axis=1)
#  .round(5)
#  )

# import pyarrow.parquet as pq
# import pyarrow as pa

# pq.write_table(pa.Table.from_pandas(df_), "../data/table3.parquet")

pd.read_parquet("../data/table3.parquet")

n_samples     100                   200                  400
             mean  median    std   mean median    std   mean median    std
scenario
1             NaN     NaN    NaN  7.611  6.353  8.509  3.091  0.000  7.748
2           0.469   0.000  1.208  0.000  0.000  0.000  0.000  0.000  0.000
3          10.271  10.271    NaN  1.245  0.661  1.310  0.495  0.157  0.746

Extract the `CPU Time` and print statistics (`mean`, `median` and `std`)

In [6]:
# df_ = (df.query("Warm_start == True & Bounds_coef == True")
#  .ffill()
#  .query("GAP < 1e-4")
#  .set_index(cols_to_group)
#  .groupby(list(filter(lambda x: x != "seed", cols_to_group)) + ["Optimality"])["CPU_time"]
#  .describe()
#  .loc[:, ["mean", "std", "50%"]]
#  .rename(columns={"50%": "median"})
#  .droplevel([2, 3, 4, 5], axis=0)
#  .unstack(["n_samples"])
#  .reorder_levels([1, 0], axis=1)
#  .sort_index(axis=1)
#  .round()
#  .astype("Int64")
#  )

# import pyarrow.parquet as pq
# import pyarrow as pa

# pq.write_table(pa.Table.from_pandas(df_), "../data/table4.parquet")

pd.read_parquet("../data/table4.parquet")

n_samples             100               200              400
                     mean median   std mean median  std mean median  std
scenario Optimality
1        False       <NA>   <NA>  <NA>  233    172  168  194    150  144
         True        <NA>   <NA>  <NA>  432    210  597  247    116  295
2        False        498    365   376  426    253  407  337    308  229
         True        1208    970   961  483    391  330  288    240  167
3        False        460    460  <NA>  139     87  138   57     46   41
         True        2275   2275  <NA>  342    218  306  103     72   93

# SECTION 5.1.2

Generate `scenario_1.csv`, `scenario_2.csv` and `scenario_3.csv` for each SNR and number
of features using using the script `fsam_comparison.py`. Then, uncomment the following
code. The results are saved in the following `parquet` files to speed up the process.

In [7]:
def s(col: str, mode: str):
    if col.name[2] == "std":
        out = col.groupby(level=[0, 1]).transform('min')
    else:
        out = col.groupby(level=[0, 1]).transform(mode)
    return (col == out).map({True: 'background-color: green', False: ''})
        
def true_nonzero(scenario: int, num_vars: int):
    if scenario == 1:
        out = [1] * 3 + [0] * 3 + [1] * 3 + [0] * (num_vars - 9) + [0] * 3 + [1] * 3 + [1] * 3 + [0] * (num_vars - 9)
    if scenario == 2:
        out = [0] * num_vars + [1] * 4 + [0] * (num_vars - 4)
    if scenario == 3:
        out = [1] * 9 + [0] * (2 * num_vars - 9)
    return out

def compute_metrics(df: pd.DataFrame, lin: bool):
    suffix = "_lin" if lin else "_nonlin"
    df = df.assign(**{metric + suffix: 0 for metric in ("ACC", "TPR", "TNR")})
    for index, row in df.iterrows():
        vars_id = slice(row["num_vars"]) if lin else slice(row["num_vars"], 2 * row["num_vars"])
        tn, fp, fn, tp = confusion_matrix(row["true_nzero"][vars_id],
                                        eval(row["nzero_bool"])[vars_id],
                                        labels=[0, 1]).ravel()
        df.loc[index, "ACC" + suffix] = (tp + tn) / (tp + tn + fp + fn)
        df.loc[index, "TPR" + suffix] = tp / (tp + fn) if (tp + fn) != 0 else 1
        df.loc[index, "TNR" + suffix] = tn / (tn + fp) if (tn + fp) != 0 else 1
    return df

In [8]:
# methods = ["FSAM", "SAM", "GAMSEL", "RELGAM", "RELGAM_SEL", "LASSO"]
# df = pd.concat([pd.read_csv("../data/scenario_1.csv"),
#                 pd.read_csv("../data/scenario_2.csv"),
#                 pd.read_csv("../data/scenario_3.csv")]).query("Method in @methods").reset_index(drop=True)
# df["true_nzero"] = pd.Series(df.T.apply(lambda x: true_nonzero(int(x["Scenario"]), int(x["num_vars"]))).values.T.tolist(),
#                              index=df.index)

Compute the `mean` and `std` for each simulation scenario (with predefined
number of variables and SNR) for the Accuracy (`ACC`), the True Negative Rate (`TNR`) and the True Positive Rate (`TPR`) for the LINEAR terms

In [9]:
color_ = {1: "steelblue", 2: "slategray", 4: "lightseagreen"}
c = {k: colors.rgb2hex(v) for k, v in color_.items()}

# methods_lin = ["FSAM", "GAMSEL", "RELGAM", "RELGAM_SEL", "LASSO"]
# df_ = compute_metrics(df.query("Method in @methods_lin"), True)
    
# df_ = (df_.groupby(["Scenario", "SNR", "num_vars", "Method"])[["TPR_lin", "TNR_lin", "ACC_lin"]]
#        .agg(["mean"])
#        .unstack(level=-2)
#        .reorder_levels([2, 0, 1], axis=1)
#        .sort_index(axis=1)
#        )

# import pyarrow.parquet as pq
# import pyarrow as pa

# pq.write_table(pa.Table.from_pandas(df_), "../data/table5_linear.parquet")

df_ = pd.read_parquet("../data/table5_linear.parquet")

css = [{'selector': f'.row{i}.level1','props': [('background-color', c[v])]} for i, v in enumerate(df_.index.get_level_values(1))]
df_.style.set_table_styles(css).apply(s, args=("max",))

Compute the `mean` and `std` for each simulation scenario (with predefined
number of variables and SNR) for the Accuracy (`ACC`), the True Negative Rate (`TNR`) and the True Positive Rate (`TPR`) for the NON-LINEAR terms

In [10]:
color_ = {1: "steelblue", 2: "slategray", 4: "lightseagreen"}
c = {k: colors.rgb2hex(v) for k, v in color_.items()}

# methods_nonlin = ["FSAM", "SAM", "GAMSEL", "RELGAM", "RELGAM_SEL"]
# df_ = compute_metrics(df.query("Method in @methods_nonlin"), False)

# df_ = (df_.groupby(["Scenario", "SNR", "num_vars", "Method"])[["TPR_nonlin", "TNR_nonlin", "ACC_nonlin"]]
#        .agg(["mean"])
#        .unstack(level=-2)
#        .reorder_levels([2, 0, 1], axis=1)
#        .sort_index(axis=1)
#        )

# import pyarrow.parquet as pq
# import pyarrow as pa

# pq.write_table(pa.Table.from_pandas(df_), "../data/table5_nonlinear.parquet")

df_ = pd.read_parquet("../data/table5_nonlinear.parquet")

css = [{'selector': f'.row{i}.level1','props': [('background-color', c[v])]} for i, v in enumerate(df_.index.get_level_values(1))]
df_.style.set_table_styles(css).apply(s, args=("max",))

Compute the `mean` and `std` for each simulation scenario (with predefined
number of variables and SNR) for the `MAE` and `MSE`

In [11]:
color_ = {1: "steelblue", 2: "slategray", 4: "lightseagreen"}
c = {k: colors.rgb2hex(v) for k, v in color_.items()}

# df_ = (df.groupby(["Scenario", "num_vars", "SNR", "Method"])[["MAE", "MSE"]]
#        .agg(["mean", "std"])
#        .unstack(level=-0)
#        .reorder_levels([2, 0, 1], axis=1)
#        .sort_index(axis=1)
# )
# import pyarrow.parquet as pq
# import pyarrow as pa

# pq.write_table(pa.Table.from_pandas(df_), "../data/table6.parquet")

df_ = pd.read_parquet("../data/table6.parquet")

css = [{'selector': f'.row{i}.level1','props': [('background-color', c[v])]} for i, v in enumerate(df_.index.get_level_values(1))]
df_.style.set_table_styles(css).apply(s, args=("min", ))

# SECTION 5.2

Generate `superconductors_results.csv` using the script `superconductors.py`. Then,
uncomment the following code. The results are saved in the following `CSV` files to
speed up the process.

In [12]:
df_ = pd.read_csv("../data/superconductors_results.csv").set_index("Method")
df_

                 MSE       MAE  n_lin  n_nonlin
Method
FSAM        0.667095  0.551283      0        28
SAM         0.738935  0.618616      0        55
GAMSEL      0.780460  0.638120     14        17
RELGAM      0.746878  0.621105     14        18
RELGAM_SEL  0.749614  0.621529     14        18
LASSO       1.175918  0.812263      8         0